*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.green{
    width: 100%;
    height: 25%;
}

.grid1{
    display: flex;
    flex-direction: row;
    height: 300px
}

.orange{
    height: 100%;
}

.grid2{
    width: 304px;
    display: flex;
    flex-direction: column;
}

.yellow{
    height: 70%;
}

.blue{
    height: 30%;
}