*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vh;
}

section{
    margin-top:50%;
    margin-left: 50%;
}


.outer-div{
    height: 150px;
    width: 700px;
    background-color: green;
    position: relative;
}

.inner-div{
    height: 100px;
    width: 300px;
    background-color: blue;
    margin-top: 30px;
    margin-left: 30%;
    position: absolute;
}

.h1-tag{
  height: 50px;
  width: 100px;
  background-color: black;
  margin-left: 90px;
  margin-top: 20px;
  position: absolute;
  color: beige;
  text-align: center;
}