*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
    height: fit-content;
}

h1{
    margin: 0 auto;
    margin-top: 30px;
    width: 500px;
    text-align: center;
}
#cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

#card1,#card2,#card3{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-top: 20px;
  gap: 50px;
}

p{
    color: #4D5562;
}


#desc1,#desc2,#desc3{
   display: flex;
    flex-direction: column;
    gap: 20px;
}
h2{
    width: 500px;
}

@media screen and (max-width:720px){
 *{
    display: flex;
    flex-direction: column;
 }
h1{
    margin-left: 100px;
    width: auto;
}
 #cards,#desc1,#desc2,#desc3{
    margin-left: 100px;
    width: auto;
 }

 #card1,#card2,#card3{
    width:auto;
 }


}