*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    margin-left:46vw;
}

.input-box{
    display: flex;
    height: 200px;
    justify-content: center;
    gap: 10px;
}

input{
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}

button{
    height: 50px;
    width: 50px;
    margin-top: 20px;
}

#todo-items{
    margin-left: 42vw;
}