*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}

body{
    height: 100vh;
    width: 100vw;
}

h2,#timer{
  text-align: center;
  margin-top: 130px;
}

#form{
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#nameError,#durationError,#breakError,#cycleError{
    color: red;
}

#timer{
    font-weight: 300;
    margin-top: 20px;
    height: 20px;
    font-size: 30px;
}

#desc{
    margin-top: 20px;
    text-align: center;
}
