* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("flowers.png");
}

body {
  height: 100vh;
}

img {
  position: absolute;
  height: 100px;
  width: 100px;
  bottom: 0;
  left: 0;
}

body:hover img {
  position: absolute;
  bottom: 85%;
  left: 85%;
}

.plane {
  height: 100vh;
}

.transition {
  transition-property: bottom, left;
  transition-duration: 10s;
  transition-delay: 1s;
  transition-timing-function: cubic-bezier(0.61, -0.31, 0.05, 1.65);
}
