*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
}

h1{
    margin-left:40%;
    margin-top:30px;
}

.container{
    height: 80vh;
    background:linear-gradient(red,green);
    margin: 0 auto;
    width: 80%;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div p{
    height: 50px;
    text-align: center;
    margin-left: 10%;
    margin-top:50px;
    color: white;
}

#buttons{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;  
}

button{
    border: none;
    height: 50px;
    width: 500px;
    border-radius: 10px;
    cursor: pointer; 
    box-shadow: 2px 1px 10px purple; 
    color:rgb(18, 157, 196);
    background: linear-gradient(to right,#ffecd2 0%,#fcb69f 100%);
}

#next{
    align-self: flex-end;
    width:70px;
}

#score{
    display: none;
}