*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
  height: 100%;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid{
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
    "a a"
    "b c"
    "b d";
}

.green{
    grid-area: a;
}

.yellow{
    grid-area: c;
}

.blue{
    grid-area: d;
}

.orange{
    grid-area: b;
}